<a href="https://colab.research.google.com/github/ricardoruiz19/TalentoTech/blob/main/web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Instalación de librerías python necesarias
!pip install requests
!pip install beautifulsoup4
!pip install pandas

In [4]:
#Importar librerías para extracción de datos web
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [19]:
response = requests.get('https://scrapepark.org/')
print(response.status_code)
#print(response.text)

200

In [20]:
#Sitio web de la extracción de datos
url         = "https://scrapepark.org/"
response    = requests.get(url)
soup        = BeautifulSoup(response.content, 'html.parser')

In [27]:
#ejemplo de lectura y extracción de un html con la librería BeautifulSoup
html_doc    = "<html><head><title>Example</title></head><body><p>Bienvenidos</p></body></html>"
soup        = BeautifulSoup(html_doc, 'html.parser')
print(soup.body.string)

Bienvenidos

In [29]:
#Sitio web de la extracción de datos
url = "http://books.toscrape.com/"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [37]:
#recorriendo los datos y almacenandolos en una lista
books = soup.find_all('article', class_='product_pod')#accede a la etiqueta article y la clase product_pod
book_list = [] #crea una lista vacia

for book in books: #creando estructura repetitiva for
    title = book.h3.a['title']
    price = book.find('p', class_='price_color').text
    book_list.append({"Title": title, "Price": price})

In [46]:
df_books = pd.DataFrame(book_list)
print(df_books.head())

                                   Title   Price
0                   A Light in the Attic  £51.77
1                     Tipping the Velvet  £53.74
2                             Soumission  £50.10
3                          Sharp Objects  £47.82
4  Sapiens: A Brief History of Humankind  £54.23

In [47]:
# convierte todos los valores de la columna Price a dolares
# Elimina el símbolo de la moneda y convierte a float
df_books['Price'] = df_books['Price'].str.replace('£', '').astype(float)

# Convierte a dólares
df_books['Price (USD)'] = df_books['Price'] * exchange_rate

In [48]:
df_books.head()

                                   Title  Price  Price (USD)
0                   A Light in the Attic  51.77      65.7479
1                     Tipping the Velvet  53.74      68.2498
2                             Soumission  50.10      63.6270
3                          Sharp Objects  47.82      60.7314
4  Sapiens: A Brief History of Humankind  54.23      68.8721

In [44]:
df_books_sel = df_books[['Title', 'Price (USD)']]
print(df_books_sel.head())

                                   Title  Price (USD)
0                   A Light in the Attic      65.7479
1                     Tipping the Velvet      68.2498
2                             Soumission      63.6270
3                          Sharp Objects      60.7314
4  Sapiens: A Brief History of Humankind      68.8721

In [41]:
#convertir el valor en £ a dolares
# Cantidad en libras
amount_gbp = 51.77

# Tasa de cambio (1 GBP = 1.27 USD)
exchange_rate = 1.27

# Conversión a dólares
amount_usd = amount_gbp * exchange_rate

# Resultado
print(f"£{amount_gbp} es igual a ${amount_usd:.2f} USD")

£51.77 es igual a $65.75 USD

In [49]:
df_books_sel.to_csv('books.csv', index=False)